@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

$colors: (
  primary: #05195a,
  secondary: #04bbfb,
  greyColor: #c9c9c9,
  tertiary: #05489c,
);

@function color($color-name) {
  @return map-get($colors, $color-name);
}

// Responsiveness for desktop
$desktop: 653px;

@mixin desktop {
  @media (min-width: #{$desktop}) {
    @content;
  }
}

// Responsiveness for Galaxy and Moto and iPhone 5SE
$smallScreen: 720px;

@mixin smallScreen {
  @media (max-height: #{$smallScreen}) {
    @content;
  }
}

// Responsiveness for smaller phone screens
$iPhone678_Height: 800px;
$iPhone678_Width: 415px;

@mixin iPhone678 {
  @media (max-height: #{$iPhone678_Height}) and (max-width: #{$iPhone678_Width}) {
    @content;
  }
}

.sokuswap__logo {
  object-fit: contain;
  height: 110px;
  margin-top: -25px;
  //   width: 70%;

  @include iPhone678 {
    height: 7%;
  }
}

.sokuswap__logo {
  text-align: center;
  padding: 20px 0px;
}

.sokuswap__toggleContainer {
  display: flex;
  justify-content: center;
  margin-top: -5px;
  padding-bottom: 10px;
  align-items: center;
  //   display: none;
}

.sokuswap__toggleContainer p {
  padding: 0px 20px;
  //   margin-top: -5px;
  color: #fff;
  font-size: 14px;
  font-weight: bolder;
  margin-bottom: 8px;
}

.toggleActive {
  text-shadow: 0px 0px 20px #04bbfb, 1px 1px 10px #04bbfb;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 58px;
  height: 20px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: '';
  height: 18px;
  width: 18px;
  left: 7px;
  bottom: 1px;
  background-color: color(secondary);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #fff;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
