.network_modal_container {
  width: auto;
  min-width: 360px;
  max-width: 42rem;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.network_modal {
  background: #ecf1f8;
  /* box-shadow: 0px 20px 36px -8px rgb(14 14 44 / 10%), 0px 1px 1px rgb(0 0 0 / 5%); */
  box-shadow: 6px 8px 20px 3px rgb(0 0 0 / 33%);
  border: 1px solid #ecf1f8;
  border-radius: 14px;
  width: 100%;
  z-index: 100;
  overflow-y: auto;
  min-width: 360px !important;
  max-width: 36rem !important;
  padding: 24px;
}

@media (max-width: 700px) {
  .network_modal_container {
    width: 300px;
  }
}
