@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

$colors: (
  primary: #05195a,
  secondary: #04bbfb,
  greyColor: #c9c9c9,
  tertiary: #05489c,
);

@function color($color-name) {
  @return map-get($colors, $color-name);
}

// Responsiveness for desktop
$desktop: 901px;

@mixin desktop {
  @media (min-width: #{$desktop}) {
    @content;
  }
}

// Responsiveness for iPad
$iPad_minWidth: 600px;
$iPad_maxWidth: 900px;

@mixin iPad {
  @media (min-width: #{$iPad_minWidth}) and (max-width: #{$iPad_maxWidth}) {
    @content;
  }
}

// Responsiveness for smaller phone screens

// $iPhone678_Height: 800px;
// $iPhone678_Width: 415px;

$mobile_Width: 650px;
$mobile_Height: 930px;

@mixin mobile {
  @media (max-height: #{$mobile_Height}) and (max-width: #{$mobile_Width}) {
    @content;
  }
}

.connectWallet__options__MOBILE ul {
  list-style: none;
  color: #fff;
  display: flex;
  justify-content: space-evenly;
  //   border: 1px solid red;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 15px;
  background: #fff;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  // z-index: 99999;

  @include desktop {
    display: none;
  }
}

.connectWallet__options__MOBILE li {
  cursor: pointer;
  //   border: 1px solid red;
  display: flex;
  align-items: center;
  text-align: center;
}

.connectWallet {
  background: color(primary);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 10px;
  font-size: 12px;
  border-radius: 12px;
  flex: 0.5;
}

.connectWallet button {
  background-color: color(primary);
  color: #fff;
  border: none;
  width: 100%;
}

.claimSoku {
  background: color(tertiary);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 10px;
  font-size: 12px;
  border-radius: 12px;
  flex: 0.4;
}

.connectWallet__options__MOBILE li span {
  background: #eeeeee;
  color: color(primary);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 10px;
  //   font-size: 1px;
  border-radius: 12px;
}

.account__footer {
  background: color(primary) !important;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 10px;
  font-size: 12px;
  border-radius: 12px;
  flex: 0.5;
  color: #fff;
  font-weight: 300;
  cursor: none;
}

.connectWallet__options__MOBILE #hidden_navLinks {
  display: none;
}

.connectWallet__options__MOBILE #open {
  position: fixed;
  left: 62.5vw;
  bottom: 20vw;
  background-color: #eeeeee;
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.12);
  transition: all 1s ease-in-out;
  display: block;
  width: 150px;

  @include desktop() {
    display: none;
  }
}

.connectWallet__options__MOBILE .hidden_navLinksMobile li a {
  cursor: pointer;
  // z-index: 9;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 14px;
  background-color: transparent;
  border: none;
}

.connectWallet__options__MOBILE .hidden_navLinksMobile li {
  list-style-type: none;
  display: flex;
  padding: 3px;
}

.connectWallet__options__MOBILE .hidden_navLinksMobile li p {
  padding-left: 3px;
  color: #05195a;
  cursor: pointer !important;
  font-weight: 600;
  font-size: 12px;
}

.connectWallet__options__MOBILE .hidden_navLinksMobile li .material-icons {
  color: #05195a;
  background-color: transparent;
}

.connectWallet__options__MOBILE .hidden_navLinksMobile li p:hover,
.connectWallet__options__MOBILE .hidden_navLinksMobile li .material-icons:hover {
  color: lighten($color: #05195a, $amount: 5);
}

.connectWallet__options__MOBILE button {
  border-radius: 6px;
  border: none;
}
